<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="infobite.kumar.life">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.infobite.life.font_change.CustomFontApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.infobite.life.ui.activity.ShowOrderHistory"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.infobite.life.ui.activity.ProductDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.infobite.life.ui.activity.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.infobite.life.ui.activity.LoginMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.infobite.life.ui.activity.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.infobite.life.ui.activity.HomeNavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base.NoActionBar" />
        <activity
            android:name="com.infobite.life.utils.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.infobite.life.ui.activity.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>